@model DAL.Models.ShippingDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo mới</h1>

<h4>Phiếu giao hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" id="userId" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input type="number" id="orderId" asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId" hidden />
                <input type="text" id="orderCode" class="form-control" />
                <input type="text" id="tempOrderCode" class="form-control" hidden/>
                <span class="btn btn-secondary checkOrder">Kiểm tra</span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingName" class="control-label">Tên người nhận</label>
                <input asp-for="ShippingName" class="form-control" />
                <span asp-validation-for="ShippingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress" class="control-label">Địa chỉ người nhận</label>
                <div>
                    <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                        <option value="" selected>Chọn tỉnh thành</option>
                    </select>

                    <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
                        <option value="" selected>Chọn quận huyện</option>
                    </select>

                    <select class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
                        <option value="" selected>Chọn phường xã</option>
                    </select>
                    <br />
                    <input type="text" placeholder="Nhập địa chỉ (Số nhà, tòa nhà, ngõ, ngách,...)" class="form-control" id="addressDetail"/>
                </div>
                <input asp-for="ShippingAddress" id="shippingAddress" class="form-control" hidden />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPhone" class="control-label">Số điện thoại người nhận</label>
                <input asp-for="ShippingPhone" class="form-control" />
                <span asp-validation-for="ShippingPhone" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="SenderName" class="control-label">Tên người gửi</label>
                <input asp-for="SenderName" class="form-control" disabled value="KingShoes"/>
                <span asp-validation-for="SenderName" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="SenderAddress" class="control-label">Địa chỉ người gửi</label>
                <input asp-for="SenderAddress" class="form-control" disabled value="2 Hùng Vương, Ngọc Hồ, Ba Đình, Hà Nội" />
                <span asp-validation-for="SenderAddress" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="SenderPhone" class="control-label">Số điện thoại người gửi</label>
                <input asp-for="SenderPhone" class="form-control" disabled value="0987654321"/>
                <span asp-validation-for="SenderPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderNote" class="control-label">Ghi chú đơn hàng</label>
                <input asp-for="OrderNote" class="form-control" />
                <span asp-validation-for="OrderNote" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Tạo phiếu" class="btn btn-primary" id="submitter"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        var citis = document.getElementById("city");
        var districts = document.getElementById("district");
        var wards = document.getElementById("ward");
        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };
        var promise = axios(Parameter);
        promise.then(function(result) {
            renderCity(result.data);
        });

        function renderCity(data) {
            for (const x of data) {
                citis.options[citis.options.length] = new Option(x.Name, x.Id);
            }
            citis.onchange = function() {
                district.length = 1;
                ward.length = 1;
                if (this.value != "") {
                    const result = data.filter(n => n.Id === this.value);

                    for (const k of result[0].Districts) {
                        district.options[district.options.length] = new Option(k.Name, k.Id);
                    }
                }
            };
            district.onchange = function() {
                ward.length = 1;
                const dataCity = data.filter((n) => n.Id === citis.value);
                if (this.value != "") {
                    const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

                    for (const w of dataWards) {
                        wards.options[wards.options.length] = new Option(w.Name, w.Id);
                    }
                }
            };
        }

        $('.checkOrder').click(function() {
            let orderCode = $('#orderCode').val();
            if (!orderCode) {
                alert('Chưa nhập');
                return false;
            }
            $.post('/ShippingDetails/CheckOrderCode', { id: orderCode }, function(data) {
                debugger;
                if (data.success == true) {
                    $('#orderId').val(data.orderId);
                    $('#tempOrderCode').val(orderCode);
                    alert('ok');
                } else {
                    if (data.orderId == 0) { alert('Không tìm thấy đơn hàng hoặc đơn đã có phiếu') }
                    else if (data.orderId == -2) { alert('Lỗi') }
                    else { alert('Đơn có phiếu rồi') }
                }
            });
        });

        $('#submitter').click(function(e) {
            let city = $('#city').find(':selected').val();
            let ward = $('#ward').find(':selected').val();
            let district = $('#district').find(':selected').val();
            let addressDetail = $('#addressDetail').val();
            if (!city || !ward || !district || !addressDetail) {
                alert("Chưa chọn Tỉnh/Quận/Huyện/Số nhà");
                e.preventDefault();
                return false;
            } else {
                let shippingAddress = city + '; ' + district + '; ' + ward + '; ' + addressDetail;
                $('#shippingAddress').val(shippingAddress)
            }
                var orderId = $('#orderId').val();
                if(!orderId || $('#tempOrderCode').val() != $('#orderCode').val()) {
                    alert('Chưa nhập mã đơn hàng hoặc chưa kiểm tra mã đơn');
                    e.preventDefault();
                    return false;
                }
        });
    </script>