@*@model DAL.Models.Order*@

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="FormOrder">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label for="Users" class="control-label">Nhân viên</label>
                <select id="User" class="form-control" name="Users" asp-items="ViewBag.UserId">
                    <option disabled selected value=""> Chọn Nhân viên </option>
                </select>
            </div>
            <div class="form-group">
                <label for="Total" class="control-label">Tổng tạm tính</label>
                <input name="Total" type="number" disabled class="form-control" value="0" id="Total"/>
            </div>
            <div class="form-group">
                <label for="Code" class="control-label">Mã đơn hàng</label>
                <input id="oCode" name="Code" type="text" value="@ViewBag.OrderCode" disabled class="form-control" />
            </div>
            <div class="form-group">
                <label for="Shipping" class="control-label">Giao hàng</label>
                <input type="checkbox" id="Shipping" class="form-check" onchange="toggleShipping()"/>
            </div>
            <div id="FormShipping" style="display:none;">
                <div class="form-group">
                    <label for="Code" class="control-label">Tên</label>
                    <input name="Code" type="text" class="form-control" id="shipName"/>
                </div>
                <div class="form-group">
                    <label for="Code" class="control-label">SĐT</label>
                    <input name="Code" type="text" class="form-control" id="shipPhone"/>
                </div>
                <div class="form-group">
                    <label for="Code" class="control-label">Địa chỉ</label>
                    <input name="Code" type="text" class="form-control" id="shipAddress"/>
                </div>
                <div class="form-group">
                    <label for="Code" class="control-label">Ghi chú</label>
                    <input name="Code" type="text" class="form-control" id="shipNote"/>
                </div>
            </div>
            <div class="form-group">
                <label for="Prod" class="control-label">Sản phẩm</label>
                <select id="Products" class="form-control" name="Prod" asp-items="ViewBag.ListProd" onchange="loadVariants()">
                    <option disabled selected value=""> Chọn Sản phẩm </option>
                </select>
            </div>
            <div class="form-group">
                <label for="Var" class="control-label">Biến thể</label>
                <select id="Variants" class="form-control" name="Var">
                    <option disabled selected value=""> Chọn Biến thể</option>
                </select>
            </div>
            <div class="form-group">
                <label for="quant" class="control-label">Số lượng</label>
                <input type="number" id="Quantity" class="form-control" name="quant"/>
            </div>
            <button class="plus btn">
                <div class="item">
                    <p>+</p>
                </div>
            </button>
            
            <div id="cart">
                <div id="newCardHolder">
                    <label>Giỏ</label>
                </div>
            </div>

            <div id="cardPrototype" class="cartCard" style="display:none;">
                <label for="itemPrice" class="control-label">SP</label>
                <input name="itemName" type="text" value="" disabled class="form-control itemName" />
                 <label for="itemPrice" class="control-label">Đơn giá</label>
                <input name="itemPrice" type="number" value="" disabled class="form-control itemPrice" />
                <label for="itemTotal" class="control-label">Tổng</label>
                <input name="itemTotal" type="number" value="" disabled class="form-control itemTotal" />
            </div>
            <button class="btn btn-primary" id="createOrder">
                Create
            </button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>

</script>