@model GUI.Models.Voucher?

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voucher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VoucherContent" class="control-label">Tên voucher</label>
                <input asp-for="VoucherContent" class="form-control" />
                <span asp-validation-for="VoucherContent" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="DiscountType" class="control-label">Loại đơn vị giảm</label>
                <select  asp-for="DiscountType" class="form-select" aria-label="Disabled input example" disabled>Loại đơn vị giảm">
                    <option selected>Chọn...</option>
                    <option value="1">%</option>
                    <option value="2">VND</option>
                </select>
            <div class="form-group">
                <label asp-for="DiscountValue" class="control-label">Giá trị voucher</label>
                <input asp-for="DiscountValue" class="form-control" />
                <span asp-validation-for="DiscountValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountMaxValue" class="control-label">Giá trị tối đa voucher</label>
                <input asp-for="DiscountMaxValue" class="form-control" />
                <span asp-validation-for="DiscountMaxValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherCode" class="control-label">mã voucher</label>
                <input asp-for="VoucherCode" class="form-control" aria-label="Disabled input example" disabled/>
                <span asp-validation-for="VoucherCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsePerPerson" class="control-label">Số lần sử dụng với mỗi khách hàng</label>
                <input asp-for="UsePerPerson" class="form-control" />
                <span asp-validation-for="UsePerPerson" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedAt" class="control-label"></label>
                <input asp-for="ModifiedAt" class="form-control" />
                <span asp-validation-for="ModifiedAt" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Ngày bắt đầu</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Ngày kết thúc</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequriedValue" class="control-label">Giá trị tối thiểu của đơn hàng</label>
                <input asp-for="RequriedValue" class="form-control" />
                <span asp-validation-for="RequriedValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusVoucher" class="control-label">Trạng thái Voucher</label>
                <select  asp-for="StatusVoucher" class="form-select" aria-label= "Disabled input example" disabled>Trạng thái Voucher">
                    <option selected>Chọn...</option>
                    <option value="1">Hoạt động</option>
                    <option value="0">Không hoạt động</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
